{{#each this}}
  <img src='{{flags.svg}}' class='flag' alt='flag' width='30' />
  <span class='country-title'>{{name.official}}</span>
  <ul>
    <li class='item'><span class='text'>Capital:</span> {{capital}}</li>
    <li class='item'><span class='text'>Population:</span> {{population}}</li>
    {{#each languages}}
      <li class='item'><span class='text'>Languages:</span> {{this}}</li>
    {{/each}}
  </ul>
{{/each}}