{{#each this}}
  <img src='{{flags.svg}}' class='flag' alt='flag' width='30' />
  <span class='title'>{{name.official}}</span>
  <ul>
    <li class='capital'>Capital: {{capital}}</li>
    <li class='population'>Population: {{population}}</li>
    {{#each languages}}
      <li class='languages'>Languages: {{this}}</li>
    {{/each}}
  </ul>
{{/each}}